/*<template id="tabifit-contador">
        <div class="contador">
            <button class="restar">-</button>
            <input type="number" min="1" max="10" value="6" name=contador id=contador></input>
            <button class="sumar">+</button>
        </div>
        <link rel="stylesheet" href="tabifit-contador/tabifit-contador.css">
    </template>*/

 button,input{
    color: var(--celeste);
    font-family: 'Roboto', sans-serif;
    text-align: left;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}

button{
    font-size: 80px;
}

input{
    font-size: 160px;
    width: 30%;
    
}

.contador{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    
}