 button,input{
    color: var(--celeste);
    font-family: 'Roboto', sans-serif;
    text-align: left;
    background: none;
    border: none;
    padding: 0px;
    cursor: pointer;
    outline: inherit;
}

button{
    font-size: 80px;
}

input{
    font-size: 160px;
    width: 30%;
    
}

.contador{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 100px;
}