slot {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    text-align: left;
    letter-spacing: -5.1px;
    opacity: 1;
}

.titulomedianoblanco{
    color: var(--blanco);
    margin-top: 64px;
}

.titulomedianoturquesa{
    color: var(--turquesa);
    margin-top: 64px;
}
