*{
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    --turquesa: #00C9FF;
    --celeste: #4AB4DC;
    --azul: #0B5D7C;
    --blanco: #FFFFFF;
    --negro: black;
}

#pantalla-inicial{
    background-color: #00C9FF73;
}

#pantalla-series, #pantalla-vueltas, #pantalla-ejercicios, #pantalla-contadorrelax, #pantalla-repetirsesion, #pantalla-resumensesionrepetir, #pantalla-preprate {
    background-color: var(--blanco);

}

#pantalla-cuentaregresivainicial, #pantalla-finejercicioactual, #pantalla-vamos{
    background-color: var(--turquesa);
}

#pantalla-resumen{
    background-color: var(--azul);
}

tabifit-pantalla {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 375px;
    height: 375px;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.contador-preparate{
    color: var(--turquesa);
}

/*tabifit-contadorseriesyvueltas*/

.contenedorseriesyvueltas{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.subtitulo { 
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    color: var(--turquesa);
    margin: 40px;
}

.numeroserie, .numerovuelta {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    color: var(--blanco);
    margin-top: -40px;
    margin-left: 50px;
}

/*Palabra mediana de título grande. "Ejercicio 85 píxeles"*/
.palabra-ejercicios {
    font-size: 85px;
    letter-spacing: -7.22px;
    text-align: left;
}

.palabra-vueltas {
    letter-spacing: -9.18px;
}

/*Lista Ejercicios*/

.lista-ejercicios{
    display: flex;
    font-size: 31px;
    line-height: 37px;
    text-align: left;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 100px;
}

input[type="checkbox"]{
    display: none;
}

input[type="checkbox"] + label{
    cursor: pointer;
}

label {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    background-color: #FFFFFF;
    border: solid 1px var(--celeste);
    padding-left: 30px;
}

input[type="checkbox"]:checked + label {
    background-color: #53B8DE;
}

/*Dato Sesión*/

.textoderecha {
    font-size: 120px;
    font-family: 'Roboto', 'thin' sans-serif;
    font-weight: 200;
    letter-spacing: 0px;
    line-height: 144px;
    color: var(--celeste);
    display: flex;
    flex-wrap: nowrap;
    margin-top: -1rem;
    margin-left: 2rem;
}

/*Ejercicios Guardados*/

.subtituloejercicios {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: var(--turquesa);
    letter-spacing: -3.4px;
    line-height: 48px;
    text-align: left;
  }

  .ejerciciosarepetir{
      font-size: 18px;
      font-family: 'Roboto', sans-serif;
      line-height: 22px;
  }