*{
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
  }


body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    --turquesa: #00C9FF;
    --celeste: #4AB4DC;
    --azul: #0B5D7C;
    --blanco: #FFFFFF;
    --negro: black;
}


#pantalla-series, #pantalla-vueltas, #pantalla-ejercicios, #pantalla-contadorrelax, #pantalla-repetirsesion, #pantalla-resumensesionarepetir, #pantalla-preprate {
    background-color: var(--blanco);

}

#pantalla-cuentaregresivainicial, #pantalla-finejercicioactual, #pantalla-vamos{
    background-color: var(--turquesa);
}

#pantalla-resumen{
    background-color: var(--azul);
}

#pantalla-inicial, #pantalla-series, #pantalla-vueltas, #pantalla-ejercicios, #pantalla-contadorrelax, #pantalla-repetirsesion, #pantalla-resumensesionarepetir, #pantalla-preprate, #pantalla-cuentaregresivainicial, #pantalla-finejercicioactual, #pantalla-vamos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pantalla-inicial{
    display: flex;
    background-color: #00C9FF73;
    flex-wrap: wrap;
}

#pantalla-series{
    display: flex;
}
/*#pantalla-vueltas{
    display: none;
}
#pantalla-ejercicios{
    display: none;
}
#pantalla-cuentaregresivainicial{
    display: none;
}
#pantalla-resumen{
    display: none;
}
#pantalla-contadorrelax{
    display: none;
}
#pantalla-resumen4{
    display: none;
}
#pantalla-finejercicioactual{
    display: none;
}
#pantalla-repetirsesion{
    display: none;
}
#pantalla-resumensesionrepetir{
    display: none;
}
#pantalla-preparate{
    display: none;
}
#pantalla-vamos{
    display: none;
}
*/


.logo {
    width: 375px;
    height: 375px;
}

.contador-preparate{
    color: var(--turquesa);
}

/*tabifit-contadorseriesyvueltas*/

.contenedorseriesyvueltas{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.subtitulo { 
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    color: var(--turquesa);
}

.numeroserie, .numerovuelta {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    color: var(--blanco);
    margin-top: -10px;
}

