*{
    box-sizing: border-box;
}

:host {
    width: 375px;
    height: 812px;
    background-color: #00C9FF73;
    margin: 25px;
}


/*.html {
    width: 375px;
    height: 812px;
    background-color: #00C9FF73;
}
*/
