button {
    font-family:'Roboto', sans-serif;
    width: 322px;
    height: 71px;
    font-size: 28px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-radius: 25px;
}

.celeste {
    background-color: #4AB4DC;
}

.azul {
    background-color: #0B5D7C;
    border-color: #0B5D7C;
}

.transparente {
    opacity: 0;
}

:hover{
    background-color: #0B5D7C;
}
