button {
    font-family:'Roboto', sans-serif;
    width: 322px;
    height: 71px;
    font-size: 28px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-radius: 25px;
    flex-wrap: wrap;
}
.celeste {
    background-color: var(--celeste);
}

.azul {
    background-color: var(--azul);
    border-color: var(--azul);
}

.transparente {
    opacity: 0;
}

:hover{
    background-color: var(--azul);
}

