* {
    box-sizing: border-box;
  } 
  
  span {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cuenta-regresiva {
    font-size: 150px;
    font-family: 'Roboto', 'black' sans-serif;
    font-weight: bold;
    color: var(--blanco);
    margin-top: 7rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .borde-giratorio {
  
    left: 50%;
    top: 50%;
    width: 20rem;
    height: 20rem;
    border: 5px solid var(--blanco);
    margin-left: 0rem;
    margin-top: -15.5rem;
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    animation: 1s rotate infinite;
  }


  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }