*{
    box-sizing: border-box;
}

button {
    display: block;
    width: 71px;
    height: 71px;
    border-radius: 50%;
}

img{
    width: 21.59px;
    height: 31.98px;
    top: 699px;
    left: 68px;
    width: 22px;
    height: 32px;
}

.botonizquierdo {
    transform: scaleX(-1); 
    border: 1px solid var(--celeste);
    background-color: transparent;
    opacity: 1;
}

.botonderecho{
    background-color: var(--celeste);
}

.flechaceleste{
    filter: invert(0.4) sepia(1) hue-rotate(20deg) saturate(1000%);
}